*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    
}


.hero{
    background-image: url(img/zebra\ banner\ 2\ 1.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    
    i{
        font-size: 30px;
        text-align: end;
        padding: 10px;
        margin-right: 20px;
    }
   

    h1{
        color: white;
        text-align: center;
        font-size: 7rem;
        font-weight: lighter;
        padding-top: 90px;
    }
    .icons{
        display: flex;
        flex-direction: column;
        
        
    }
    }

.Activities{
    h2{
        font-size: 3rem;
      padding: 80px 0px 40px 80px;
      font-weight: lighter;
      

    }

    .container{
        display: flex;

    }
    .card{
        overflow: hidden;
        width: 250px;
        border: 0px;
    }
    
    .card:hover{
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(156, 154, 154, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .overlay-text{
        color: white;
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        p{
            font-size: 0.9em;
        }
    }
    
    .card:hover .overlay-text {
    display: block; 
    opacity: 1;
    transform: translateY(150px);
    }
    
    .card-title{
        color: white;
        position: absolute;
        bottom: 10px;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        font-size: 1.3em;
    }
    .card:hover .card-title{
        transform: translateY(-200px); 
    
    }

    
    
}

.story{
    .container{
        h2{
            font-size: 3rem;
          padding-top: 80px;
          font-weight: lighter;
          
    
        }
        .btn{
            
            background-color: #E75317;
            color: white;
            border: radius 0px;

        }
        .row{
            
            .col-md-5{
                border: none;
                p{margin-top: 40px;
                    margin-right: 0px;
                    margin-bottom: 40px;

                }
            }
            .col-md-4{
                .inner{
                    width: 100%;
                    height: 500px;
                    padding-top: 50px;

                    img{
                        height: 100%;
                        width: 100%;
                        

                    }

                }
            }


            .col-md-3{
                .inner{
                    background-image: none;
                    
                    height: 700px;
                    img{
                        width: 100%;
                        height: 350px;
                        object-fit: cover;
                        padding: 20px;

                    }

                }
                
            }

        }
    }
}

.wilderness{
    .container{
        h2{
            font-size: 3rem;
            padding-top: 80px;
            font-weight: lighter;

        }

        .row{

            .col-md-6{
                p{
                    padding-right: 30px;
                    padding-top: 40px;
                 }
                .inner{
                    display: flex;

#giraffe{
    padding-top: 30px;
}

#impala{
    padding-top: 60px;
}

                    .col-md-4{
                        
                        .inner{
                            width: 100%;
                            height: 300px;
                            
                            img{
                                padding: 10px;
                                width: 100%;
                                height: 300px;
                                object-fit: cover;
                            }
                            
                        }
                    
                }

                }
            }





            .col-md-3{
                .inner{
                    
                    #elephant{
                        height: 300px;
                        
                    }

#lion{
    height: 550px;
    padding-top: 60px;
}

                    img{padding-bottom: 20px;
                        width:100%;
                        height: 200px;
                        object-fit: cover;

                    }
                    
                }
            
        }


    }
}
}

.suggest{
    .container{
        h2{
            font-size: 3rem;
          padding-top: 80px;
          font-weight: lighter;
         
    
        }
        .row{
            margin-top: 80px;

            .col-md-6{
                display: flex;
                border: none;
                
                .col-md-7  {
                    .inner{

                        background-color: #E75317;
                        width: 100%;
                        height: 500px;
                        color: white ;
                        padding: 0px 20px 0px 20px;
                        img{
                            object-fit: contain;
                           margin-left: 240px;
                        }

                        p{
                            
                            font-weight: lighter;
                            
                        }

                        .money{
                            font-weight: bold;
                            font-size: 1.5em;
                            padding: 10px;
                            text-align: center;
                            border-bottom: 1px solid white;
                            border-top: 1px solid white;
                        
                        }
                            
                            
                            .arrow{
                                display: flex;
                                flex-direction: column;
                                
                                justify-content: space-between;
                               
                                .see{
                                    font-weight: bold;
                                    padding-top: 0px;
                                    width: 150px;
                                    
                                }
                                img{
                                    
                                    width: 25px;
                                    height: 25px;
                                  
                                   
                                }

                            }
                            

                      

                        

                    }
                }
            .col-md-5{
                .inner{
                    img{
                        width: 100%;
                        height: 500px ;
                        
                    }

                        
                }
            }
            }

        .col-md-3{
            #mbano{
                background: linear-gradient(rgba(62, 55, 45, 1) 0%, rgba(62, 55, 45, 0.6) 40%,rgba(62, 55, 45, 0.39) 70%,rgba(62, 55, 45, 0.28) 100%),url('img/mbano.png');
                
                
               
                background-size: cover;
                background-position: center;
               
                
            }
            .inner{
                background: linear-gradient(360deg, #3E372D 0%, rgba(62, 55, 45, 0.6) 29.94%, rgba(62, 55, 45, 0.39) 70.23%, rgba(62, 55, 45, 0.28) 100%)
                ,url('img/zambezi.png');
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 500px;
                text-align: center;
                color: white;
               
                
               h5{
                padding-top: 400px;
               }     
            }
        }
       


        }
    }
}

.tests{
    .container{
    h2{
        font-size: 3rem;
      padding-top: 80px;
      padding-bottom: 50px;
      font-weight: lighter;

    }
    .row{
        
        .col-md-3{
            #fam{
                background-image: url(img/fam.png);
            }
            .inner{
                width: 250px;
                height: 500px;
                background-image: url(img/sipping.png);
                background-size: cover;
                text-align: center;
                
                .overlay{
                    background-color: rgba(231, 83, 23, 0.4);
                    width: 100%;
                    height: 100%;
                    
                    p{
                        color: white;
                        font-weight: bold;
                        padding-top: 400px;
                       
                    }
                }
            }
        }

       
        .col-md-6{
            .inner{
                border: #F50D0D 1px solid;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;

            img{
                width: 150px;
                object-fit: contain;


            }
            p{
                padding: 80px 80px 0px 80px;
                
            }
            hr{
                color: #F50D0D;
                width: 100px;
                
            }

            }
            
        }


    }
}
}

.Gallery{
    .container{
        h2{
            font-size: 3rem;
            padding-top: 80px;
            padding-bottom: 50px;
            font-weight: lighter;

        }
        .row{
            padding-bottom: 20px;
            display: flex;

            .col-md-6{
                .inner{
                    width: 100%;
                height: 300px;
                img{
                    width: 100%;
                    height: 300px;
                }

                }
            }

            .col-md-3{
                .inner{
                    width: 100%;
                height: 300px;
                img{
                    width: 100%;
                    height: 300px;
                }
                }
                
            }

            .col-md-2{
                .inner{
                    width: 100%;
                height: 300px;
                img{
                    width: 100%;
                    height: 300px;
                }
                }

        }
    }
}
}

.footer{
    background-color: #e75317;
    .copyrights{
        text-align: center;
        color: white;
        border-top: 1px white solid;
        padding: 10px;
    }
    .container-fluid{
        padding: 40px 10px 20px 40px;
        
        .row{
            .col-md-4{
                .inner{
                    .nav-link{
                        font-weight: lighter;
                        color: white;
                        h5{
                            font-style: italic;
                            padding-bottom: 20px;
                        }
                    }
                  

                    form{ 
                    .input-group{
                        input{border: none;
                            padding-left: 30px;
                            width: 280px;
                            
                           
                        }
                        button{
                            border: none;
                            font-style: italic;
                            background-color: rgba(62, 55, 45, 1);
                            color: white;
                            padding: 10px 20px 10px 20px;

                        }
                    }
                }    
            }
            }


            .col-md-3{
                .inner{
                    margin-left:40px;
                    .nav-link{
                        font-weight: lighter;
                        color: white;
                        h5{ font-style: italic;
                            padding-bottom: 20px;
                        }
                    }
                  
                    }
                   
      
       
    
    
    }

            .col-md-2{
                .inner{
                    
                    .nav-link{
                        font-weight: lighter;
                        color: white;
                        h5{
                            font-style: italic;
                            padding-bottom: 20px;
                        }
                    }
                  

                  
                    }
                }    
            }
            }

        }









        @media (max-width: 992px){

            .hero{
                height: 60vh;
                
                i{
                    font-size: 40px;
                    padding: 0px;
                    
                }
               
            
                h1{
                    padding-top: 20x0px;
                }
                .icons{
                   
                    margin-top: 150px;
                    
                    
                }
                }


                .story{
                    .container{
                        .row{
                            .col-md-4{
                                .inner{
                                   
                                    height: 400px;
                                    padding-top: 100px;
                
                                    img{
                                        
                                        object-fit: cover;
                                    }
                
                                }
                            }
                            .col-md-3{
                                .inner{
                                   
                                    height: 600px;
                                    img{
                                       
                                        height: 250px;
                                       
                
                                    }
                
                                }
                                
                            }
                
                        }
                    }
                }



                .suggest{
                    .container{
                        
                        .row{
                            margin-top: 80px;
                
                            .col-md-6{
                                
                                .col-md-7  {
                                    .inner{
                
                                        img{
                                            object-fit: contain;
                                           margin-left: 120px;
                                        }
                
                                        p{
                                            font-size: 0.8em;
                                            
                                        }
                
                                        .money{
                                          
                                            font-size: 1em;
                                        
                                        }
                
                                    }
                                }
                            .col-md-5{
                                .inner{
                                    img{
                                       
                                        object-fit: cover;
                                    }  
                                }
                            }
                            }
                
                        .col-md-3{
                            
                            .inner{
                                
                                
                               h5{
                               
                                font-size: 0.8em;
                               }    
                               p{
                                font-size: 0.8em;
                               } 
                            }
                        }
                   
                        }
                    }
                }



                .tests{
                    .container{
                      
                       
                    .row{  display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        .col-md-3{
                            
                            .inner{
                                width:500px;
                                height: 500px;
                                
                            }
                        }
                        .col-md-6{
                            .inner{
                                
                               width: 500px;
                            img{
                                width: 80px;
                            }
                            }   
                        }
                    }
                }
                }


                .Gallery{
                    .container{
                        .row{
                            .col-md-6{
                                .inner{
                                img{
                                    object-fit: cover;
                                }
                                }
                            }
                
                            .col-md-3{
                                .inner{
                                img{
                                    object-fit: cover;
                                }
                                }
                                
                            }
                
                            .col-md-2{
                                .inner{
                                img{
                                    object-fit: cover;
                                }
                                }
                        }
                    }
                }
                }


                .footer{
                  
                    .container-fluid{
                      
                        .row{
                            .col-md-4{
                                .inner{
                                    .nav-link{
                                        font-weight: lighter;
                                        color: white;
                                        h5{
                                            font-style: italic;
                                            padding-bottom: 20px;
                                        }
                                    }
                                  
                
                                    form{ 
                                    .input-group{
                                        input{
                                            width: 120px;
                                        }
                                       
                                    }
                                }    
                            }
                            }
                        
                            }
                            }
                
                        }
        }


        @media (max-width: 768px) { 



            

.hero{
   
    height: 90vh;
   

 
   

    h1{
      
        font-size: 6rem;
        padding-top: 100px;
    }
   
    }


    .story{
        .container{
           
            .row{
                
                .col-md-5{
                   
                    p{margin-top: 50px;
    
                    }
                }
                .col-md-4{
                    .inner{
                        width: 500px;
                        height: 400px;
                        padding-left: 20px;
                       
    
                        img{
                            object-fit: cover;
    
                        }
    
                    }
                }
    
    
            }
        }
    }




    .Activities{
        h2{
            font-size: 3rem;
          padding: 80px 0px 60px 120px;
        
        }
       
        
        
        .overlay-text{
           p{
                font-size: 0.7em;
            }
        }
        
        
        .card-title{
           
            font-size: 0.9em;
        }
       
        
        
    }
       


    .wilderness{
        .container{
            .row{
                .col-md-3{
                    .inner{
    #lion{
        height: 350px;
        padding-top: 5px;
    }
                        
                    }
            }
        }
    }
    }


            .suggest{
                .container{
                    .row{
                        .col-md-6{
                            display: flex;
                            border: none;
                            flex-wrap: wrap;
                            
                            .col-md-7  {
                                .inner{
                                    
                                    img{
                                       margin-left: 250px;
                                       
                                    }
                                }
                            }
                        
                        }
            
                    .col-md-3{
                        #mbano{
                            padding-top: 10px;
                        }
                        .inner{
                            padding-top: 20px;
                            
                           h5{
                            padding-top: 400px;
                           }     
                        }
                    }
                   
            
            
                    }
                }
            }



            .tests{
                .container{
               
                .row{
                    .col-md-3{
                        
                        .inner{
                            width: 515px;
                           
                        }
                    }
                }
            }
            }



            .Gallery{
                .container{
                   
                    .row{
                        padding-bottom: 0px;
                       
            
                        .col-md-6{
                            .inner{
                              
                            img{
                                
                                object-fit: cover;
                            }
            
                            }
                        }
            
                        .col-md-3{
                            .inner{
                               
                            img{
                                object-fit: cover;
                            }
                            }
                            
                        }
            
                        .col-md-2{
                            .inner{
                               
                            img{
                                object-fit: cover;
                            }
                            }
            
                    }
                }
            }
            }



            .footer{
                margin-top: 20px;
               
                .container-fluid{
                    
                    .row{
                        .col-md-4{
                            .inner{
                                margin-left: 40px;
                                .nav-link{
                                    
                                    h5{
                                        
                                        padding-top: 20px;
                                    }
                                }
                        }
                        }
            
            
                
                        .col-md-2{
                            .inner{
                                
                                .nav-link{
                                  margin-left: 40px;
                                    h5{
                                        
                                        padding-top: 20px;
                                    }
                                }
                              
            
                              
                                }
                            }    
                        }
                        }
            
                    }


        }



        @media (max-width: 576px) { 
            .hero{
                height: 45vh;
                h1{
                    font-size: 3rem;
                    padding-top: 30px;
                }

                .icons{margin-top: 45px;

                }

                i{
                    font-size: 15px;
                    padding: 0px;

                }
            }



            .story{
                .container{
                    h2{
                        font-size: 2rem;
                      padding-top: 40px;
                      
                
                    }
                    
                    .row{
                        
                        .col-md-5{
                            border: none;
                            p{margin-top: 40px;
                                margin-right: 0px;
                                margin-bottom: 40px;
            
                            }
                        }
                        .col-md-4{
                            .inner{
                                height: 400px;
                               width: 100%;
                               padding: 0px;
                                    margin: 0px;
                                    margin-top: 50px;
                            
                                
                                img{
                                    object-fit: cover;
                                    
                                    padding: 0px;
                                    width: 100%;
                                    margin: 0px;
                                    
                                    
                                }
            
                            }
                        }
            
            
                        .col-sm-6{
                            .inner{
                              
                                width: 100%;
                                height: 400px;
                                img{
                                    width: 100%;
                                    height: 400px;
                                    object-fit: cover;
                                   
            
                                }
            
                            }
                            
                        }
            
                    }
                }
            }


            .Activities{
                h2{
                    font-size: 2rem;
                  padding: 40px 0px 40px 10px;
                  font-weight: lighter;
                  
            
                }
                .container{
                display: flex;
                flex-wrap: wrap;
                }
               
            }

            .wilderness{
                .container{
                    h2{
                        font-size: 2rem;
                        padding-top: 40px;
            
                    }
            
                    .row{
            
                       
                        
                        #lion{
                            
                            padding-top: 0px;
                        }
            
                                img{
                                    padding-bottom: 0px;
            
                                }
                                
                            }
                        
                    }
            
            
                }



         .suggest{
                    .container{
                        h2{
                            font-size: 2rem;
                          padding-top: 40px;
                         
                    
                        }
                        .row{
                           
                
                            .col-md-6{
                                width: 100%;
                                
                                .col-md-7  {
                                    .inner{
                                        width: 300px;
                                        
                
                                        .money{
                                            
                                            font-size: 1em;
                                       
                                        }
                
                                        .see{
                                            font-weight: bold;
                                            padding-top: 20px;
                                        }
                
                                        
                
                                    }
                                }
                            .col-md-5{
                                .inner{
                                    img{width:300px;
                                        
                                        object-fit: cover;
                                        
                                    }
                
                                        
                                }
                            }
                            }
                
                        .col-md-3{
                            #mbano{
                                margin-top: 10px;
                               
                                
                            }
                            .inner{
                               margin-top: 10px;
                               
                                
                               h5{
                                padding-top: 400px;
                               }     
                            }
                        }
                       
                
                
                        }
                    }
                }


                .tests{
                    .container{
                    h2{
                        font-size: 2rem;
                      padding-top: 50px;
                     
                
                    }
                    .row{

                        .col-md-6{
                            .inner{
                                width: 100%;
                            }
                        }




                        .col-md-3{
                            
                            .inner{
                                width: 100%;
                                height: 400px;
                                
                                
                                .overlay{
                                    
                                    
                                    p{
                                        color: white;
                                        font-weight: bold;
                                        padding-top: 350px;
                                       
                                    }
                                }
                            }
                        }
                
                
                    }
                }
                }

                .Gallery{
                    .container{
                        margin-bottom: 10px;
                        h2{
                            font-size: 2rem;
                            padding-top: 50px;
                
                        }
                        .row{
                            padding-bottom: 0px;
                            
                
                            .col-md-6{
                                .inner{
                                   
                                img{
                                   
                                    object-fit: cover;
                                    padding-top: 5px;
                                }
                
                                }
                            }
                
                            .col-md-3{
                                .inner{
                                   
                                img{
                                    object-fit: cover;
                                    padding-top: 5px;

                                }
                                }
                                
                            }
                
                            .col-md-2{
                                .inner{
                                   
                                img{
                                    object-fit: cover;
                                    padding-top: 5px;
                                }
                                }
                
                        }
                    }
                }
                }


                .footer{
                    
                    .copyrights{
                       font-size: 0.6em;
                    }
                    .container-fluid{
                        padding: 0px 0px 40px 0px;
                        
                        .row{
                            .col-md-4{
                                .inner{
                                    .nav-link{
                                        
                                        h5{
                                            padding-top: 20px;
                                            padding-bottom: 5px;
                                            
                                        }
                                    }
                                  
                
                                    form{ 
                                    .input-group{
                                        width: 300px;
                                      
                                        input{
                                            padding-left: 20px;
                                            width: 300px;
                                            height: 50px;
                                            
                                           
                                        }
                                        button{
                                            width: 300px;
                
                                        }
                                    }
                                }    
                            }
                            }
                
                
                            .col-md-3{
                                .inner{
                                    
                                    .nav-link{
                                        
                                        h5{ 
                                            padding-top: 40px;
                                            padding-bottom: 10px;
                                        }
                                    }
                                  
                                    }
                                   
                      
                       
                    
                    
                    }
                
                            .col-md-2{
                                .inner{
                                    margin-left: 0px;
                                    .nav-link{
                                        
                                        h5{
                                            padding-top: 40px;
                                            padding-bottom: 10px;
                                        }
                                    }
                                  
                
                                  
                                    }
                                }    
                            }
                            }
                
                        }




            }


            @media (max-width: 400px){

                
.hero{
   
    height: 50vh;
    
    
    i{
        font-size: 13px;
        padding: 0px;
    }
   

    h1{
         font-size: 3rem;
        padding-top: 30px;
    }
    
    }

    .story{
        .container{
          
            
            .row{
                
                .col-md-5{
                    
                    p{margin-top: 40px;
                        margin-right: 0px;
                        margin-bottom: 40px;
    
                    }
                }
                .col-md-4{
                    .inner{
                        height: 350px;
                       width: 100%;
                    
                        
                        img{
                            object-fit: cover;
                            padding: 20px;
                            
                            
                        }
    
                    }
                }
    
    
                
            }
        }
    }

    .footer{
        background-color: #e75317;
        .copyrights{
            text-align: center;
            color: white;
            border-top: 1px white solid;
            padding: 10px;
        }
        .container-fluid{
            padding: 40px 0px 20px 0px;
            
            .row{
                .col-md-4{
                    .inner{
                        .nav-link{
                            font-weight: lighter;
                            color: white;
                            h5{
                                font-style: italic;
                                padding-bottom: 20px;
                            }
                        }
                      
    
                        form{ 
                        .input-group{
                            input{
                                width: 350px;
                                
                               
                            }
                            button{
                                
                                padding: 10px 20px 10px 20px;
    
                            }
                        }
                    }    
                }
                }
    
    
        
                 
                }
                }
    
            }


















            }









    
   